<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="style.css" />
<meta charset="ISO-8859-1">
<title>Corona</title>
</head>
<body>
<div class="page-container">
	<div class="row">
		<div class="col col1 box2">
			<h1>Corona</h1>
		</div>
		<div class="col col2 box1">
			<h3><a href="/login">Login</a></h3>
		</div>
		<div class="col col2 last-col box1">
			<h3><a href="/register">Register</a></h3>
		</div>
	</div>
	<div class="row">
		<h2>Welcome to our amazing trading platform</h2>
	</div>
</div>
</body>
</html>