<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1> Shares / Transactions</h1>

<h2><a href = "Shareholder">Back to Dashboard</a></h2>
<h2><a href = "Wallet">View Wallet</a></h2>

<div>Show Owned Shares <input type=checkbox value="sharesToggle"></div>
<br>


<h4><label for="share">Select a Share:</label></h4>

<select id="share">
  <option value="test1">Test Share</option>
  <option value="test2">Test Share 2</option>
  <option value="test3">Test Share 3</option>
  <option value="test4">Test Share 4</option>
</select>

<input type=submit value="Buy">
<input type=submit value="Sell">

<br><select id="share">
  <option value="test1">Test Share</option>
  <option value="test2">Test Share 2</option>
  <option value="test3">Test Share 3</option>
  <option value="test4">Test Share 4</option>
</select>

<input type=submit value="Buy">
<input type=submit value="Sell">

<br><select id="share">
  <option value="test1">Test Share</option>
  <option value="test2">Test Share 2</option>
  <option value="test3">Test Share 3</option>
  <option value="test4">Test Share 4</option>
</select>

<input type=submit value="Buy">
<input type=submit value="Sell">

<br><select id="share">
  <option value="test1">Test Share</option>
  <option value="test2">Test Share 2</option>
  <option value="test3">Test Share 3</option>
  <option value="test4">Test Share 4</option>
</select>

<input type=submit value="Buy">
<input type=submit value="Sell">

</body>
</html>