<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="shareholder.css" />
<head>
<meta charset="ISO-8859-1">
<title>Shares</title>
</head>
<body>
	<div class="page-container">
		<div class="row">
			<div class="col col1 box2">
				<h1>All Shares</h1>
			</div>

			<div class="col col2 box1">
				<h2>
					<a href="Shareholder">Back to Dash</a>
				</h2>
			</div>

			<div class="col col2 last-col box1">
				<h2>
					<a href="Wallet">View Wallet</a>
				</h2>
			</div>
		</div>

		<div class="row">
			<div class="col col1">
				<h3>
					<a href="ViewPortfolio">View Portfolio</a>
				</h3>
				<h3>
					<a href="ShareholderTransactions">View Transactions</a>
				</h3>
				<h3>Viewing all Shares:</h3>
			</div>
		</div>


		<div class="row">
			<table class="sharesList">

				<tr class="tablehead">
					<th>Share</th>
					<th>Price</th>
					<th>Currency</th>
				</tr>

				<tr>
					<td><ol th:each="share : ${shares}" th:text="${share.name}"/></td>
					<td><ol th:each="share : ${shares}" th:text="${share.price}"/></td>
					<td><ol th:each="share : ${shares}" th:text="${share.currency}"/></td>
				</tr>

			</table>
		</div>
	</div>

</body>
</html>