<!DOCTYPE html>
<html lang  = "en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1> Welcome to your Wallet! </h1>
<h2> Wallet owner: </h2>
<!--  <span th:text =  ${customerName.getCustomerName()}> customerName </span>-->

<h1>Balance: </h1>
<!-- WAITING ON SESSION SCOPE IN ORDER TO VIEW WALLET BALANCE


<span th:text =  ${userName.getUserName()}> userName </span>
<span th:text = ${userName.getWallet()}> </span>


-->
<form action="addToWallet" method="post">
   Balance to add: <input type="text" name="budget" />
   <input type="submit" value="add to wallet" />
</form>




</body>
</html>