<!DOCTYPE html>
<html lang  = "en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1> Welcome to your Wallet! </h1>
<h2> Wallet owner: </h2>

<p th:text = "|Logged in as ${userName.username}|"></p>
<h1>Balance: </h1>

<span th:text = "|Your current balance is: &#163; ${shareholder}|"> </span>
<br>


<form action="addToWallet" method="post">
   Balance to add: <input type="text" name="budget" />
   <input type="submit" value="add to wallet" />
</form>


</body>
</html>